h1 {
    font-family: var(--font-titres);
    letter-spacing: -1px;
    display: inline-block;
    background: var(--gradient-tertiary);
    background-clip: text;
    -webkit-background-clip: text;
    /* For compatibility */
    color: transparent;
}

h2 {
    font-family: var(--font-titres);
    letter-spacing: 1.5rem;
    font-size: 2.3rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.gradient-on-hover:hover {
    color: transparent;
    background: var(--gradient-tertiary);
    background-clip: text;
}

.dropdown-menu {
    & ul {
        list-style: none;
        padding: 0;
    }

    & .dropdown-item:hover {
        color: var(--bs-emphasis-color) !important;
    }
}

.page-accueil header {
    z-index: 10;
    position: relative;
}

.banniere {
    height: 550px;
    padding-top: 220px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-image: url(../images/banniere.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(24, 0, 55, 0.5);
    background-blend-mode: multiply;
}

.link {
        display: block;
        color: black;
        font-size: 1.5rem;
        font-weight: 500;
        transition: 0.3s;
}

.link:hover {
        background: var(--gradient-tertiary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
}

.services {
    margin-top: 550px;

    & .services__row {
        border-bottom: 1px solid var(--bs-primary);
    }

    & .services__element {
        position: relative;
        top: 21px;
    }

    & .services__fleche {
        width: 1320px;
        float: right;
        filter: opacity(50%);
    }

    & .link{
    margin-bottom: -20px;   
    }
}

.pourquoi__card {
    width: 27%;
    height: 200px;
}

.pourquoi__card--img {
    background-position: center;
    background-size: cover;
}

.pourquoi__card--img:nth-of-type(2) {
    background-image: url(../images/choix-equipe.jpg)
}

.pourquoi__card--img:nth-of-type(4) {
    background-image: url(../images/choix-ages.png);
}

.pourquoi__card--img:nth-of-type(6) {
    background-image: url(../images/choix-dynamique.jpg);
}

@media only screen and (max-width: 1000px) {
    .pourquoi__card {
        width: 45%;
    }

    .pourquoi__card:nth-of-type(1) {
        order: 1;
    }

    .pourquoi__card:nth-of-type(2) {
        order: 3;
    }

    .pourquoi__card:nth-of-type(3) {
        order: 5;
    }

    .pourquoi__card:nth-of-type(4) {
        order: 2;
    }

    .pourquoi__card:nth-of-type(5) {
        order: 4;
    }

    .pourquoi__card:nth-of-type(6) {
        order: 6;
    }
}

.citation {
    & .citation__text {
        font-size: 1.3rem;
        border-bottom: 5px solid var(--light-secondary);
    }

    & .citation__image {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
    }

    & img {
        width: 100px;
    }
}

footer,
.header-dark {
    background-color: color-mix(in srgb, var(--bs-primary), black 10%);
}

.courses-card {
    width: 330px;
    height: 200px;
    background-color: white;
    padding: 10px;
}

.page-cours{
    background-color: color-mix(in srgb, var(--bs-primary), white 90%);
}

.courses-card--img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.courses-card--img:nth-of-type(2) {
    background-image: url(../images/images-cours/ballet.svg);
}

.courses-card--img:nth-of-type(6) {
    background-image: url(../images/images-cours/hip-hop1.svg);
}

.courses-card--img:nth-of-type(7) {
    background-image: url(../images/images-cours/claquette.svg);
}

.courses-card--img:nth-of-type(11) {
    background-image: url(../images/images-cours/jazz-2.svg);
}

.courses-card--img:nth-of-type(13) {
    background-image: url(../images/images-cours/Jazz.svg);
}

.courses-card--img:nth-of-type(15) {
    background-image: url(../images/images-cours/ballet-2.svg);
}
.courses-card--img:nth-of-type(17) {
    background-image: url(../images/images-cours/hip-hop2.svg);
}

@media only screen and (max-width: 1045px) { 
    .courses-card:nth-of-type(13),
    .courses-card--img:nth-of-type(17) {
        display: none;
    }
}

@media only screen and (max-width: 699px) { 
    .courses-card--img:nth-of-type(7) {
        display: none;
    }
}

.intro {
    & .intro__titre {
        width: 300px;
        flex-shrink: 0;
    }

    & .intro__decoration{
    width: auto;
    overflow: hidden;
    }

    & .intro__infos {
    background-color: var(--light-secondary);
    }
}

.t-head,
.t-notes {
font-weight: 400;
font-size: 14px;
}


